html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem; /* Adds some space from the top */
  background-color: #f0f4ff; /* Sets a light background for the page */
  font-family: system-ui, sans-serif;
}